@model Bfw.PXAP.Models.MetadataModel
@{
    ViewBag.Title = "Metadata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .longrow
    {
        width:700px;
        margin-bottom:2px;
    }
</style>

<div style="width: 400px; margin: 0 auto;">
    @Html.Partial("_MainMenuPartial", Model.MenuModel)
</div>
<div>
    &nbsp;
</div>
<div id="MetaForm" style="width: 75%; padding-top: 15px; margin: 0 auto;">
    @{
        Bfw.PXAP.Models.LayoutModel layout = this.ViewBag.LayoutModel as Bfw.PXAP.Models.LayoutModel;


        if (string.IsNullOrEmpty(layout.CurrentEnvironment))
        {
            return;
        }
    }
    @using (Html.BeginForm("ApplyMetadata", "Metadata", FormMethod.Post,  new { id = "longform" }))
    {
            
        <div class="row">
            <div class="label">
                Entity ID:</div>
            <div>@Html.TextBoxFor(m => m.EntityId, new { @class = "envField" })</div>
        </div>   
        <div class="row">
            <div class="label">
                Parent Item ID:</div>
            <div>@Html.TextBoxFor(m => m.ParentId)</div>
        </div>
        <div class="longrow"  >
            <div class="label">
                Parent Category: (eg. 'syllabusfilter', uses DLAP parent if blank)</div>
            <div> @Html.TextBoxFor(m => m.ParentCategory)</div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="longrow">
            <div class="label">
                Field:</div>
            <div>@Html.TextBoxFor(m => m.FieldName) 
                exact? @Html.CheckBoxFor(m => m.Exact)</div>
        </div>
                      
        <div class="longrow">
            <div class="label">
                Value:</div>
            <div>@Html.TextBoxFor(m => m.Value, new { style = "width:500px;" })</div>
        </div>
        
        <div class="longrow">
            <div class="label">Recursive </div>
            <div>@Html.CheckBoxFor(m => m.Recursive)</div>
        </div>
        
        <p>
            <div class="label"><input type="button" id="opener" value="Apply" /></div>
        </p>
        
    }
</div>
     @Html.Partial("_ProgressBarPartial")
</div>
