@using dotless.Core.Parser.Tree
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PX Question Bank Admin</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/bootstrap-theme")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     @Html.Partial("MainMenu")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @{string version = typeof(BundleConfig).Assembly.GetName().Version.ToString();}
            <p>&copy; @DateTime.Now.Year - Macmillan. Version @version</p>
        </footer>
    </div>
    @Html.Partial("_CommonJS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-components")
    @Scripts.Render("~/bundles/respond")
    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/crossroads")
    @Scripts.Render("~/bundles/chosen")
    @RenderSection("scripts", required: false)
</body>
</html>
