
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @MenuMainItem("Titles", "Index", "ProductCourseList")
                @MenuItem("Import", "Index", "Import")
                @MenuItem("Metadata config", "Index", "Metadata")
                @MenuItem("User management", "Index", "User")
                @MenuItem("Compare titles", "Index", "Compare")
            </ul>
           <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log out", "Logout", "User")</li>
           </ul>
        </div>
    </div>
</div>

@helper MenuItem(string label, string actionName, string controllerName)
{
    <li class="@(IsActive(controllerName) ? "active" : null)">@Html.ActionLink(label, actionName, controllerName)</li>
}

@helper MenuMainItem(string label, string actionName, string controllerName)
{
    <li class="main-item @(IsActive(controllerName) ? "active" : null)">@Html.ActionLink(label, actionName, controllerName)</li>
}

@functions
{
    private bool IsActive(string controllerName)
    {
        var currentController = Html.ViewContext.RouteData.GetRequiredString("controller");
        return string.Equals(currentController, controllerName, StringComparison.OrdinalIgnoreCase);
    }
}
